<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
.input-comm{
	width:75%;
	max-width:400px;
}

.comments-div{
	max-height:200px;
	overflow-y:auto;
	padding:10px;
	width:75%;
	max-width:410px;
}
.comments-div::-webkit-scrollbar {
	width:0.3em;
}
.comments-div::-webkit-scrollbar-track{
	box-shadow: inset 0 0 0.2em rgba(0,0,0,1);
}
.comments-div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
</style>
</body>
<nav>
        <a href = "/news/">Home</a>
	<a href = "/news/profile/{{request.user.username}}">{{request.user.username}}</a>
        <a href = "/news/discussion/">Discussion</a>
	<a href = "/news/logout/">LogOut</a>
</nav>
{% load static %}
{% csrf_token %}
<div id="main"><hr>

</div>


</body>

<script>


function fullStory(url){
        window.open(url,"blank");
}

$(document).ready(function(){

var pg = 0; var x = 0;
load()
var done = 'False';

/*function updateImg(){
while x< $('.news-img').length{
if ($(".news-img").eq(x).attr('src')=="None"){
	console.log("img"+x+" src found none");
        var alt_src = '{% static "news/images/alt.png" %}'
        $(".news-img").eq(x).attr('src', alt_src);
	x++;}
}}*/

$(window).scroll(function() {   
   if($(window).scrollTop() + $(window).height() == $(document).height() && done==='False' ) { //console.log('bottom!')
		load();}
});

function load(){
	++pg
	//console.log('btn-more-contentpg-'+pg)
	$.ajax({
		type:"POST",
		url:"/news/discussion/",
		data:{'pg':pg,},
		success:function(response){
			append_data(response);},
		statusCode:{ 
			500: function() {done='True' }}	
		});
	//changeBtn();
}

function append_data(response){
	console.log(response);
	for (var key in response){
		$('<div><div id="usrs-'+response[key].id+'"></div><br><img class="news-img" src="'+response[key].urlToImage+'" alt="img-for-feed" height=100px><h4><b>'+response[key].title+'</b></h4><p>'+response[key].description+'</p><p style="float:right; padding-right:50px">--'+response[key].source+'</p><br><br><div class="comments-div" id="comm-'+response[key].id+'"></div><div id="comm-in-'+response[key].id+'"></div><br><button class="comments" id="'+response[key].id+'">Comments</button><span onclick="fullStory(\''+response[key].url+'\')" style="cursor:pointer; float:right; margin-right:50px;" title="Click to read full story">&rArr;</span><br><br></div><hr>').appendTo("#main");
		for (var k in response[key].users){
		$('#usrs-'+response[key].id).append('<a href="/news/profile/'+response[key].users[k].username+'">'+response[key].users[k].username+'</a> , ')
		}
}
}

$(document).on('click','.comments', function(){
//	console.log('btn-comm')
	var feed_id = this.id;
	//console.log('load comm feed-'+feed_id);
	$.ajax({
		type:'POST',
		url:'/news/discussion/comments/',
		data:{'feed_id':feed_id,},
		success: function(response){load_comm(response,feed_id);}//console.log(response)	
	});

	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	var socket = new WebSocket(ws_scheme + '://' + window.location.host + '/news/'+feed_id);

	
	//console.log(socket)
	socket.onmessage = function(message){
	//	console.log(message);
		data = JSON.parse(message.data)
		feed_id = String(data.key)
		//console.log()
		$('#new-comm-'+feed_id).append('<b><a href="/news/profile/'+data.user.username+'">'+data.user.username+'</a>: </b><span> '+data.comment+'</span><br>')	
	}

	$(document).on('keypress', '.input-comm', function(event){
		if(event.which == 13 && $("#"+this.id).val()!==''){
			var feed_id = this.id.replace('input-comm-','')
	//		console.log('comm to '+feed_id+$("#"+this.id).val());
			var comment = $("#"+this.id).val()
			var message={'feed_id':feed_id, 'comment':comment}
			socket.send(JSON.stringify(message))			
			$("#"+this.id).val('')	
		/*	$.ajax({
			type: "POST",
			url: "comment_save/",
			data:{'feed_id':feed_id,'comment':comment},
			success:{},
			error:{}
		});*/
		//$(this.id).submit();

		}
	});

});


function load_comm(response, feed_id){
	$('#comm-'+feed_id).css('border','0.01px solid #cecece')
	for (var key in response){
		$('#comm-'+feed_id).append('<div><b><a href="/news/profile/'+response[key].user.username+'">'+response[key].user.username+'</a>: </b><span> '+response[key].comment+'</span></div>')
}
$('#comm-'+feed_id).append('<div id = "new-comm-'+feed_id+'"></div>')
$('#comm-in-'+feed_id).append('<label><b><a href="/news/profile/{{request.user.username}}">{{request.user.username}}</a>: </b></label><input class="input-comm" id="input-comm-'+feed_id+'" type="textbox" name="comment" required>')
$("#"+feed_id).attr('class','comments-close');
$("#"+feed_id).text('Close');
}
 
	$(document).on('click','.comments-close', function(){
		//socket.close();
		$("#comm-"+this.id).empty();
		$("#comm-in-"+this.id).empty();
		$("#"+this.id).attr('class','comments');
		$("#"+this.id).text('Comments');
		$('#comm-'+this.id).css('border','none')
});


});

</script>
</html>
