<!DOCTYPE html>
<html><head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

</body>
<nav>
        <a href = "/news/">Home</a>
       <a href = "/news/profile/{{request.user.uesrname}}">My Profile</a>
        <a href = "/news/discussion/">Discussion</a>
	<a href = "/news/logout/">LogOut</a>
</nav>
{% load static %}
<div id="main"><hr>
<!--{% load staticfiles %}
{% if data %}
        {% for element in data %}
        <div onclick='//window.open("{{element.url}}","_blank");'>
                <img class="news-img" src= "{{ element.urlToImage }}" alt="img-for-feed" height=100px />
                <h4><b>{{element.title}}</b></h4>
                <p>{{element.description}}</p>
		<p style="float:right; padding-right:50px;">-{{element.source}}</p><br>
                <script>
                        //console.log('{{element.saved}}');
                        if ('{{element.saved}}'==='False'){
                        document.write('<button class="save">Save</button>') 
                }
                </script>
                <br>
                <br><hr>
        </div>
        {% endfor %}
{% endif %} -->
</div>
{% csrf_token %}

</body>

<script>


$(document).ready(function(){

var pg = 0; var x = 0;
load()
var done = 'False';

/*function updateImg(){
while x< $('.news-img').length{
if ($(".news-img").eq(x).attr('src')=="None"){
	console.log("img"+x+" src found none");
        var alt_src = '{% static "news/images/alt.png" %}'
        $(".news-img").eq(x).attr('src', alt_src);
	x++;}
}}*/

$(window).scroll(function() {   
   if($(window).scrollTop() + $(window).height() == $(document).height() && done==='False' ) { //console.log('bottom!')
		load();}
});

function load(){
	++pg
	//console.log('btn-more-contentpg-'+pg)
	$.ajax({
		type:"POST",
		url:"/news/discussion/",
		data:{'pg':pg,},
		success:function(response){
			append_data(response);},
		statusCode:{ 
			500: function() {done='True' }}	
		});
	//changeBtn();
}

function append_data(response){
	console.log(response);
	for (var key in response){
		$('<div><div id="usrs-'+response[key].id+'"></div><br><img class="news-img" src="'+response[key].urlToImage+'" alt="img-for-feed" height=100px><h4><b>'+response[key].title+'</b></h4><p>'+response[key].description+'</p><p style="float:right; padding-right:50px">--'+response[key].source+'</p><br><br><div id="comm-'+response[key].id+'"></div><br><button class="comments" id="'+response[key].id+'">Comments</button><br><br></div><hr>').appendTo("#main");
		for (var k in response[key].users){
		$('#usrs-'+response[key].id).append('<a href="/news/profile/'+response[key].users[k].username+'">'+response[key].users[k].username+'</a> , ')
	}
	
}
}

$(document).on('click','.comments', function(){
//	console.log('btn-comm')
	var feed_id = this.id;
	//console.log('load comm feed-'+feed_id);
	$.ajax({
		type:'POST',
		url:'/news/discussion/comments/',
		data:{'feed_id':feed_id,},
		success: function(response){load_comm(response,feed_id); //console.log(response)
}
	
	});
	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	var socket = new WebSocket(ws_scheme + '://' + window.location.host + '/news/'+feed_id);
	
	
	//console.log(socket)
	socket.onmessage = function(message){
	//	console.log(message);
		data = JSON.parse(message.data)
		feed_id = String(data.key)
		//console.log()
		$('#new-comm-'+feed_id).append('<b><a href="/news/profile/'+data.user.username+'">'+data.user.username+': </a></b><span> '+data.comment+'</span>')	
	}

	$(document).on('keypress', '.input-comm', function(event){
		if(event.which == 13 && $("#"+this.id).val()!==''){
			var feed_id = this.id.replace('input-comm-','')
	//		console.log('comm to '+feed_id+$("#"+this.id).val());
			var comment = $("#"+this.id).val()
			var message={'feed_id':feed_id, 'comment':comment}
			socket.send(JSON.stringify(message))			
			$("#"+this.id).val('')	
		/*	$.ajax({
			type: "POST",
			url: "comment_save/",
			data:{'feed_id':feed_id,'comment':comment},
			success:{},
			error:{}
		});*/
		//$(this.id).submit();

		}
	});

});


function load_comm(response, feed_id){
	for (var key in response){
		$('#comm-'+feed_id).append('<div><b><a href="/news/profile/'+response[key].user.username+'">'+response[key].user.username+'</a>: </b><span> '+response[key].comment+'</span></div>')
}
$('#comm-'+feed_id).append('<div id = "new-comm-'+feed_id+'"></div><label><b><a href="/news/profile/{{request.user.username}}">{{request.user.username}}</a>: </b></label><input class="input-comm" id="input-comm-'+feed_id+'" type="text" name="comment" required>')
$("#"+feed_id).attr('class','comments-close');
$("#"+feed_id).text('Close');
}
 
$(document).on('click','.comments-close', function(){
		$("#comm-"+this.id).empty();
		$("#"+this.id).attr('class','comments');
		$("#"+this.id).text('Comments');
});

});

</script>
</html>
